CodeAbility.MonitorAndCommand/CoreServer/Service References/EventServiceReference/EventService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CodeAbility.MonitorAndCommand.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CodeAbility.MonitorAndCommand.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Event">
    <xs:sequence>
      <xs:element minOccurs="0" name="Content" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FromDevice" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TimeStamp" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Event" nillable="true" type="tns:Event" />
  <xs:complexType name="ArrayOfEvent">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Event" nillable="true" type="tns:Event" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEvent" nillable="true" type="tns:ArrayOfEvent" />
</xs:schema>