CodeAbility.MonitorAndCommand/CoreServer/Service References/EventServiceReference/EventService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/EventService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CodeAbility.MonitorAndCommand.Models" />
  <xs:element name="StoreEvent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CodeAbility.MonitorAndCommand.Models" minOccurs="0" name="_event" nillable="true" type="q1:Event" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StoreEventResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListLastEvents">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="numberOfEvents" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListLastEventsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CodeAbility.MonitorAndCommand.Models" minOccurs="0" name="ListLastEventsResult" nillable="true" type="q2:ArrayOfEvent" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>