CodeAbility.MonitorAndCommand/CoreServer/Service References/EventServiceReference/EventService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="EventService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/EventService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/EventService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/EventService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CodeAbility.MonitorAndCommand.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEventService_StoreEvent_InputMessage">
    <wsdl:part name="parameters" element="tns:StoreEvent" />
  </wsdl:message>
  <wsdl:message name="IEventService_StoreEvent_OutputMessage">
    <wsdl:part name="parameters" element="tns:StoreEventResponse" />
  </wsdl:message>
  <wsdl:message name="IEventService_ListLastEvents_InputMessage">
    <wsdl:part name="parameters" element="tns:ListLastEvents" />
  </wsdl:message>
  <wsdl:message name="IEventService_ListLastEvents_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListLastEventsResponse" />
  </wsdl:message>
  <wsdl:portType name="IEventService">
    <wsdl:operation name="StoreEvent">
      <wsdl:input wsaw:Action="http://tempuri.org/IEventService/StoreEvent" message="tns:IEventService_StoreEvent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEventService/StoreEventResponse" message="tns:IEventService_StoreEvent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListLastEvents">
      <wsdl:input wsaw:Action="http://tempuri.org/IEventService/ListLastEvents" message="tns:IEventService_ListLastEvents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IEventService/ListLastEventsResponse" message="tns:IEventService_ListLastEvents_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IEventService" type="tns:IEventService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="StoreEvent">
      <soap:operation soapAction="http://tempuri.org/IEventService/StoreEvent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListLastEvents">
      <soap:operation soapAction="http://tempuri.org/IEventService/ListLastEvents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EventService">
    <wsdl:port name="BasicHttpBinding_IEventService" binding="tns:BasicHttpBinding_IEventService">
      <soap:address location="http://localhost/EventService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>