CodeAbility.MonitorAndCommand/CoreServer/Service References/MessageServiceReference/MessageService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CodeAbility.MonitorAndCommand.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CodeAbility.MonitorAndCommand.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Message">
    <xs:sequence>
      <xs:element minOccurs="0" name="Content" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="ContentType" type="tns:ContentTypes" />
      <xs:element minOccurs="0" name="FromDevice" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Parameter" nillable="true" type="xs:anyType" />
      <xs:element minOccurs="0" name="ReceivingDevice" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SendingDevice" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Timestamp" type="xs:dateTime" />
      <xs:element minOccurs="0" name="ToDevice" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Message" nillable="true" type="tns:Message" />
  <xs:simpleType name="ContentTypes">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CONTROL" />
      <xs:enumeration value="COMMAND" />
      <xs:enumeration value="DATA" />
      <xs:enumeration value="HEARTBEAT" />
      <xs:enumeration value="RESPONSE" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ContentTypes" nillable="true" type="tns:ContentTypes" />
</xs:schema>